.content {
    display: grid;
    grid-template-columns: 2fr auto;
    grid-gap: 30px;
    padding: 20px;
    box-sizing: border-box;
    & .left {
        display: block;
        & form {
            & textarea,
            & input {
                box-sizing: border-box;
                display: block;
                padding: 12px;
                width: 100%;
                color: #222;
                font-size: 18px;
                font-family: 'Open sans', sans-serif;
                margin-bottom: 20px;
                outline: none;
            }
            /* & input[type='text'] {}*/
            & textarea {
                resize: none;
            }
            & button {
                padding: 12px 30px;
                font-size: 18px;
                border: none; // font-weight: bold;
                background-color: #222;
                color: rgba($color: #fff, $alpha: 1.0);
                &:hover {
                    cursor: pointer;
                    background-color: #c30d00;
                }
            }
        }
    }
    & .right {
        &>p {
            &:first-child {
                margin-top: 0;
            }
            font-size: 20px;
            line-height: 130%;
            &>a {
                color: #222;
            }
            &:hover i.fa-map-marker,
            &:hover a {
                color: #c30d00;
                font-weight: bold;
            }
        }
    }
}

@media screen and(max-width: 960px) {
    .content {
        grid-template-columns: auto;
        & .left {
            & form {
                & textarea,
                & input {
                    box-sizing: border-box;
                    width: 100%;
                }
            }
        }
        & .right {
            &>p {
                &:first-child {
                    margin-top: 20px;
                }
            }
        }
    }
}
        /**/
        // .leftandright {
        //     display: flex;
        // }
        // #left {
        //     width: 50%;
        //     padding: 20px;
        // }
        // #input {
        //     height: 30px;
        //     width: 100%;
        // }
        // #submit {
        //     width: 10%;
        // }
        // #right {
        //     width: 50%;
        //     display: block;
        //     padding: 10px;
        // }
        // #right p {
        //     text-align: left;
        //     font-size: 16px;
        //     text-decoration: sans-serif;
        //     // color: white;
        // }
        // #right a {
        //     // color: white;
        //     text-decoration: none;
        // }