* {
    box-sizing: border-box;
}

p {
    color: black;
    font-size: 20px;
    text-align: center;
    line-height: 130%;
}

.column {
    box-sizing: border-box;
    overflow: hidden;
    display: block;
    float: left;
    width: 33.33%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &>img {
        display: block;
        width: 100%;
    }
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 960px) {
    .column {
        width: 100%;
        margin-bottom: 40px;
    }
}

